body{
	background-color: beige;
	margin: 10px auto;
	width: 70%;
	height: auto;
}
.image{
	border: dashed 2px #DEB887 ;
	border-radius: 10px;
	float: left;
	padding: 5px 5px;
	margin: 5px 5px;
	text-align: center;
}

.text{
	margin: 0px auto;
	width: 7.5rem;
	background-color: #FAEBD7;
	border-radius: 0.625rem;
}
img{
	opacity: 0.5; /* 设置透明度 */
}